
body{
    grid-template-rows: repeat(3, 258px);
    grid-template-columns: repeat(3, 475px);
    background-color: #AD0101;
    height: auto;
    width: auto;
    margin-top: 79px;
}



.title{
    background-color: rgb(0, 0, 0, 60%);
    border:black;
    border-style:groove;
    border-radius: 99px;
    display: grid;
    grid-template-columns: repeat(3, 402px);
    grid-template-rows: 221px;

    width: 1209px;
    height: 219px;
    margin: 18px 0px 57px 98px;
}
#uno{
    order: 2;
    max-width: 949px;
    height: 275px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: -33px 0px 0px 0px;
}
#back{
    max-width: 601px;
    height: 239px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: -89px 0px 0px -163px;

}



.buttons{
    background-color: rgb(0, 0, 0, 60%);
    border:black;
    border-radius: 99px;
    border-style:groove;
    width: 1418px;
    height: 328px;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#start{
    height: 83px;
    width: 214px;
    border:black;
    border-style:groove;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#score{
    height: 83px;
    width: 214px;
    border:black;
    border-style:groove;
    border-radius: 99px;
}
#reset{
    height: 83px;
    width: 214px;
    border:black;
    border-style:groove;
    border-radius: 99px;
}
.unoStart{
    max-width: 191px;
    position: relative;

}
