
body{
    display: grid;
    grid-template-columns: max-content;
    background-color: #AD0101;
    height: auto;
    width: auto;
}



.title{
    display: grid;
    grid-template-columns:max-content;
    background-color: rgb(0, 0, 0, 60%);
    border:black;
    border-style:groove;
    border-radius: 99px;

    width: 1417px;
    height: 352px;
    margin: 66px 0px 0px 0px;
}
#uno{
    order: 2;

    grid-column-end: 2;
    max-width: 949px;
    height: 327px;
    margin: -237px 0px -53px 412px;
}
#back{
    grid-column: auto;
    max-width: 601px;
    height: 239px;
    margin: -87px 323px 19px 940px;

}

.table{
    border: solid white;
    background-color: solid black;
    display: grid;
    height: 50vw;
    width: 50vw;

}

.slot{
    background-color: greenyellow;

}

.controlPanel{
    background-color: grey;
    height: 81px;
    width: 339px;
    margin: 785px 12px 96px;

}

